html {
  font-size: 1vw;
}

body {
  background-color: #fefdfb;
  border-top: 10px solid #BCE8FF;
}

.fluid__headline {
  font-family: 'Yeseva One', cursive;
  font-size: calc(12px + (18 - 12) * (100vw - 500px) / (800 - 500));
}

.fluid__infotext {
  font-family: 'Yeseva One', cursive;
  font-size: 4vw;
}


.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 5px;
	content: '|';
  font-size: 10px;
  font-weight: 700;
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 5px;
	content: '|';
  font-size: 10px;
  font-weight: 700;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
